@import '../../../scss/lib/theme/vars';

.signup{
  margin: $gutter-std;
  height: 85%;
  width: 80%;


  h2{
    float: left;
    font-size: 2vw;
    margin-bottom: 0px;
    margin-left:20px;
  }
}

input-std{
  text-align: center;
  width:60%;
  height:10%;
}
